#!/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

log_error() {
    /bin/echo "ERROR: ${1}"
}

log_info() {
    /bin/echo "INFO: ${1}"
}

verify_running_priviledged() {
    log_info "Verify privileged execution"
    local user_id="$(id -u)"
    if [ ${user_id} -ne 0 ]
    then
        log_info "User id: ${user_id}"
        log_error "Cannot execute with an unprivileged user"
        exit 1
    fi
    log_info "Running as user id: ${user_id}"
}

setup_hostnames() {
    local set_hostname="/usr/bin/hostnamectl set-hostname"
    local static_name="{{ host_hostname_static }}"
    local pretty_name="{{ host_hostname_pretty }}"
    log_info "Setting up static hostname"
    log_info "Static hostname: ${static_name}"
    ${set_hostname} --static "${static_name}"
    log_info "Setting up pretty hostname"
    log_info "Pretty hostname: ${pretty_name}"
    ${set_hostname} --pretty "${pretty_name}"
}

verify_running_priviledged
setup_hostnames

exit 0
