#!/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

log_error() {
    /bin/echo "ERROR: ${1}"
}

log_info() {
    /bin/echo "INFO: ${1}"
}

verify_running_priviledged() {
    log_info "Verify privileged execution"
    local user_id="$(id -u)"
    if [ ${user_id} -ne 0 ]
    then
        log_info "User id: ${user_id}"
        log_error "Cannot execute with an unprivileged user"
        exit 1
    fi
    log_info "Running as user id: ${user_id}"
}

open_cryptsetup_device() {
    local device_identifier="${1}"
    local device_name="${2}"
    cryptsetup luksOpen "/dev/disk/by-uuid/${device_identifier}" "${device_name}"
}

close_cryptsetup_device() {
    local device_name="${1}"
    cryptsetup luksClose "${device_name}"
}

mount_volume_geometry_readonly() {
    device_identifier="${1}"
    device_mountpoint="${2}"
    mount --types btrfs \
        --read-only \
        --options subvol=@,compress=zstd:15,nodev,nosuid,noexec \
        "${device_identifier}" \
        "${device_mountpoint}"
}

mount_volume_geometry_readwrite() {
    device_identifier="${1}"
    device_mountpoint="${2}"
    /usr/bin/mount --types btrfs \
        --read-write \
        --options subvol=@,compress=zstd:15,nodev,nosuid,noexec \
        "${device_identifier}" \
        "${device_mountpoint}"
}

umount_volume_geometry() {
    device_mountpoint="${1}"
    /usr/bin/umount "${device_mountpoint}"
}

attach_storage_geometry() {
    local storage_disk_0="{{ host_disk_uuid_storage0 }}"
    local storage_disk_1="{{ host_disk_uuid_storage1 }}"
    local storage_disk_2="{{ host_disk_uuid_storage2 }}"
    local storage_name_0="storage0"
    local storage_name_1="storage1"
    local storage_name_2="storage2"
    log_info "Open dm-crypt/LUKS devices"
    log_info "Open ${storage_disk_0} as ${storage_name_0}"
    open_cryptsetup_device "${storage_disk_0}" "${storage_name_0}"
    log_info "Open ${storage_disk_1} as ${storage_name_1}"
    open_cryptsetup_device "${storage_disk_1}" "${storage_name_1}"
    log_info "Open ${storage_disk_2} as ${storage_name_2}"
    open_cryptsetup_device "${storage_disk_2}" "${storage_name_2}"
    log_info "Mounting the storage volume"
    local storage_volume_mountpoint="/var/mnt/storage"
    if [ ! -d "${storage_volume_mountpoint}" ]
    then
        /bin/mkdir --parents "${storage_volume_mountpoint}"
    fi
    local storage_volume_uuid="{{ host_storage_volume_uuid }}"
    log_info "Device uuid ${storage_volume_uuid} as ${storage_name_0} device mapper"
    log_info "Device mapper ${storage_name_0} at ${storage_volume_mountpoint}"
    mount_volume_geometry_readonly "/dev/disk/by-uuid/${storage_volume_uuid}" "${storage_volume_mountpoint}"
}

detach_storage_geometry() {
    local storage_disk_0="{{ host_disk_uuid_storage0 }}"
    local storage_disk_1="{{ host_disk_uuid_storage1 }}"
    local storage_disk_2="{{ host_disk_uuid_storage2 }}"
    local storage_name_0="storage0"
    local storage_name_1="storage1"
    local storage_name_2="storage2"
    log_info "Umounting the storage volume"
    local storage_volume_mountpoint="/var/mnt/storage"
    log_info "Device mapper ${storage_name_0} at ${storage_volume_mountpoint}"
    umount_volume_geometry "${storage_volume_mountpoint}"
    log_info "Close dm-crypt/LUKS devices"
    log_info "Close ${storage_disk_0} as ${storage_name_0}"
    close_cryptsetup_device "${storage_name_0}"
    log_info "Close ${storage_disk_1} as ${storage_name_1}"
    close_cryptsetup_device "${storage_name_1}"
    log_info "Close ${storage_disk_2} as ${storage_name_2}"
    close_cryptsetup_device "${storage_name_2}"
    log_info "Remove device mountpoint ${storage_volume_mountpoint}"
    /usr/bin/rmdir "${storage_volume_mountpoint}"
}

mount_ro() {
    local storage_mountpoint="/var/mnt/storage"
    local storage_uuid="{{ host_storage_volume_uuid }}"
    umount_volume_geometry "${storage_mountpoint}"
    mount_volume_geometry_readonly "/dev/disk/by-uuid/${storage_uuid}" "${storage_mountpoint}"
}

mount_rw() {
    local storage_mountpoint="/var/mnt/storage"
    local storage_uuid="{{ host_storage_volume_uuid }}"
    umount_volume_geometry "${storage_mountpoint}"
    mount_volume_geometry_readwrite "/dev/disk/by-uuid/${storage_uuid}" "${storage_mountpoint}"
}

summary_message() {
    log_info "USAGE"
    log_info "jupiter-mount-storage attach | detach | ro | rw"
    log_info "attach | Attach storage geometry to the host."
    log_info "detach | Detach storage geometry from the host."
    log_info "ro     | Attach storage geometry read-only to the host."
    log_info "rw     | Attach storage geometry read-write to the host."
}

verify_running_priviledged

case "${1}" in
    "attach")
        attach_storage_geometry
    ;;
    "ro")
        mount_ro
    ;;
    "rw")
        mount_rw
    ;;
    "detach")
        detach_storage_geometry
    ;;
    "help")
        summary_message
    ;;
    *)
        log_error "Not know"
        log_info "Type help for options summary"
    ;;
esac

exit 0
