[Unit]
Description=Borg backup service

[Service]
Type=oneshot

ExecStart={{ services_toolbx_borg_host_command }} create \
    --stats \
    --progress \
    --verbose \
    --compression obfuscate,3,auto,lzma,6 \
    --patterns-from %h/{{ services_toolbx_borg_host_pattern_list_relative_path }} \
    {{ services_toolbx_borg_server_hostname }}:{{ services_toolbx_borg_server_repository_name }}::data_{utcnow:%%Y%%m%%d_%%H%%M%%S}

[Install]
WantedBy=multi-user.target
